<html>
    <head>

    <title> cs problems </title>
    <link type="text/css" href="{{ url_for('static',filename='styles/st.css') }}" rel = "stylesheet"></link>

    </head>    
        <body >
            
            <div id="all">
                <div id="time"> </div>
                <br>
                Q1 <a href="https://www.hackerrank.com/challenges/kaprekar-numbers">link to the question1</a>  send the answer for Q1<a href="/q1"> here</a> <br>
                Q2 <a href="https://www.hackerrank.com/challenges/priyanka-and-toys">link to the question2</a>  send the answer for Q2<a href="/q2"> here</a> <br>
                Q3 <a href="https://www.hackerrank.com/challenges/greedy-florist">link to the question3</a>  send the answer for Q3<a href="/q3"> here</a> <br>
                Q4 <a href="https://www.hackerrank.com/challenges/cavity-map">link to the question4</a>  send the answer for Q4<a href="/q4"> here</a> <br>

            </div>

             <script type="text/javascript" src="{{ url_for('static', filename = 'time20.js') }}"></script>

        </body>
</html>